%form{ action: "/comments/#{story_comment[:id]}", method: :patch, data: { remote: '', submit_remove: '', nested_form: '' } }
  %div
    %strong= story_comment[:commentee]
  
  %div
    %textarea#story_comment_content{ name: 'story_comment[content]' }= story_comment[:content]

  %div
    %button.btn-tiny Update
