.row
  .large-6.columns
    %form{ action: '/stories', method: 'patch', data: { remote: '' } }
      #stories{ data: { bind_url: '/stories' } }
  
  .large-6.columns  
    %div
      %div{ data: { bind_url: '/stories/new' } }

    %div
      .edit-story{ data: { bind_url: '/stories/:id/edit' } }

:javascript
  window.lastEvent = #{JSON.dump(last_event)}
  