%html
  :css
    form { display: inline; }
    .hide { display: none; }
  %body
    = yield

    %script{ src: '/jquery.js' }
    %script{ src: '/jquery-ujs.js' }
    %script{ src: '/url_binding.js' }
    %script{ src: '/script.js' }
