%div{ data: { submit_remove: '' } }
  .row
    .large-9.columns
      %h4
        New Story
    .large-3.columns
      %a.right{ title: 'Close', href: 'javascript:void(0)', data: { click_submit: '' } }
        .fa.fa-remove

  %form{ action: '/stories', method: 'post', data: { remote: '' } }
    .panel
      = haml :story_form, locals: { story: {} }

      %div
        %button.btn-tiny Create Story