- stories.each_with_index do |story, index|
  %div.story
    %input{ type: 'hidden', name: 'stories[][id]', value: story[:id] }
    %div{ data: { bind_url: "/stories/#{story[:id]}" } }
      = haml :story, locals: { story: story }
