.row
  .large-12.columns
    %label{ for: 'story_title' }
      Title
      %input#story_title{ name: 'story[title]', value: story[:title], type: 'text' }
    
.row
  .large-12.columns
    %label{ for: 'story_description' }
      Description
      %textarea#story_description{ name: 'story[description]', value: story[:description] }
  
.row
  .large-6.columns
    %label{ for: 'story_owner' }
      Owner
      %input#story_owner{ name: 'story[owner]', value: story[:owner], type: 'text' }
  .large-6.columns
    %label{ for: 'story_assignee' }
      Assignee
    %input#story_assignee{ name: 'story[assignee]', value: story[:assignee], type: 'text' }

.row  
  .large-12.columns
    %label{ for: 'story_epic' }
      Epic
      %input{ type: 'hidden', name: 'story[epic]', value: 'false' }
      - if story[:epic]
        %input#story_epic{ type: 'checkbox', name: 'story[epic]', checked: :checked, value: 'true' }
      - else
        %input#story_epic{ type: 'checkbox', name: 'story[epic]', value: 'true' }
