- unless story[:archived]
  %div{ data: { submit_remove: '' } }
    %label= story[:title]
    
    %form{ action: "/stories/#{story[:id]}/edit", data: { remote: '',  } }
      %button edit

    %form{ action: "/stories/#{story[:id]}", method: :patch, data: { remote: '' } }
      %input{ type: 'hidden', name: 'story[archived]', value: 'true' }
      %button x
