- unless story[:archived]
  .row
    .small-9.columns
      #{story[:title]}
      - if story[:assignee] != ''
        %span.label= story[:assignee]

    .small-3.columns.right
      %a.right{ title: 'Delete Story', href: "/stories/#{story[:id]}", data: { method: 'delete', remote: '' } }
        .fa.fa-trash
      %span.right
        &nbsp;&nbsp;&nbsp;
      %a.right{ title: 'Edit Story', href: "/stories/#{story[:id]}/edit", data: { remote: '' } }
        .fa.fa-pencil 
