- unless story_comment[:archived]
  #story_comment{ data: { submit_remove: '', nested_form: '' } }
    .row
      .large-10.columns
        %strong= story_comment[:commentee]

      .large-1.columns
        %form.right{ action: "/comments/#{story_comment[:id]}/edit", method: :get, data: { remote: '' } }
          %a{ href: 'javascript:void(0)', data: { click_submit: '' } }
            .fa.fa-pencil

      .large-1.columns
        %form.right{ action: "/comments/#{story_comment[:id]}", method: :patch, data: { remote: '',  } }
          %input{ type: 'hidden', name: 'story_comment[archived]', value: 'true' }
          %a{ href: 'javascript:void(0)', data: { click_submit: '' } }
            .fa.fa-remove
    
    .row
      .large-12.columns
        = story_comment[:content]
